<footer class="footer">

<div class="footer__grupo">
<p>CopyRight / Nombre del Proyecto</p>
<p>Leyenda de Copy</p>
<p>Disquera NewMusic</p>
</div>

<div class="footer__grupo">
<ul>
<p>Links rapidos</p>
<li><a [routerLink]="['/']">Inicio</a></li>
<li><a [routerLink]="['/']">Acerca de</a></li>
</ul>
</div>

<div class="footer__grupo">
<p>Aviso de Privacidad / Terminos y Condiciones</p>
<p>Se prohíbe el uso de contenido de esta web en venta</p>
<p>Términos y condiciones de esta empresa aquí: </p>
<a [routerLink]="['/']">Términos y Condiciones </a>
</div>


<div class="footer__grupo">
<ul>
<p>Redes Sociales</p>
<li><a href="https://facebook.com">Facebook</a></li>
<li><a href="https://instagram.com">Instagram</a></li>
</ul>
</div>

</footer>
